.navigation{
	display: flex;
  	flex-direction: column;
  	position: fixed;
	top: 0;
  	left: 0;
  	bottom: 0;
  	width: 200px; /* adjust this value as needed */
  	background-color: black;
  	opacity: 0.65;
  	padding: 10px;
}

.navigation ul{
	font-family:'Sofia';
	font-size:larger;
	list-style: none;
	margin:0;
	padding:10px;
	flex-grow: 1;
}

.navigation li{
	display: block;
	margin-bottom: 10px;
}
.navigation li a{
	color:#ece9f1;
	text-decoration:none;
	display:block;
	padding:8px;
	font-weight: bold;
}
.navigation li:hover{
	background-color:rgb(43, 10, 161);
}
.navigation li.active a{
	background-color:rgb(51, 95, 153);
	
}

.navigation li.disabled a{
	pointer-events: none;
	opacity:0.5;
}

.navigation li:not(.disabled) {
    display: block;
}